*.pyc
*.ipynb_notebooks
*.ipynb
ignore
*~
venv
build/
dist/
lib/
node_modules/
.npm
vv/
venv/
__pycache__/
*.pyc
*.egg-info
*.log
.DS_Store
dist
*egg-info*
npm-debug*
/.tox
.idea
pykaban/__pycache__/
pykaban/*.pyc
tests/__pycache__/
tests/*.pyc
params.py